---
import Layout from '../layouts/Layout.astro'
import Badge from '../components/Badge.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import SocialPill from '../components/SocialPill.astro'
---

<Layout title="Agustín | Portfolio">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<img 
				class="w-12 h-12 mb-8"
				src="../avatar.svg" 
				alt="agustin perfil"
			/>
			<h1 
				class="text-white text-5xl pb-10 font-bold flex flex-row gap-x-4" >
				Hola, soy Agustín 
				<a 
					href="https://www.linkedin.com/in/agustin-lopez-prieto/" 
					target="_blank"
					rel="noopener"
					class="flex items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-2xl">
				Analista en computación. Graduado de la Universidad Nacional de Río Cuarto.
			</h2>

			<nav class="flex gap-x-2 mt-8">
				<SocialPill href="https://www.linkedin.com/in/agustin-lopez-prieto/">
					<LinkedInIcon class="w-6 h-6"/>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/aguslopezp">
					<GitHubIcon class="w-6 h-6"/>
					GitHub
				</SocialPill>
			</nav>
			
		</section>
	</main>
</Layout>

