---
import Layout from '../layouts/Layout.astro'
import Badge from '../components/Badge.astro'
import SectionContainer from '../components/SectionContainer.astro'
import SocialPill from '../components/SocialPill.astro'
import Footer from '../components/Footer.astro'
import LinkedIn from '../icons/LinkedIn.astro'
import GitHub from '../icons/GitHub.astro'
import MailIcon from '../icons/MailIcon.astro'
import Briefcase from '../icons/Briefcase.astro'
import Experience from '../components/Experience.astro'
import CodeIcon from '../icons/CodeIcon.astro'
---

<Layout title="Porfolio de Agustin López. Desarrollador y programador web."
				description='Contrata a Agustin para desarrollar tu proyecto.'>
	<main class="mx-4 max-w-[700px]">
		<SectionContainer class="py-44 pb-24">
			<img 
				class="size-12 mb-8"
				src="../avatar.svg" 
				alt="agustin perfil"
			/>
			<h1 
				class="text-white text-2xl sm:text-4xl md:text-5xl lg:text-6xl pb-6 lg:pb-10 font-bold flex flex-row gap-x-4" >
				Hola, soy Agustín 
				<a 
					href="https://www.linkedin.com/in/agustin-lopez-prieto/" 
					target="_blank"
					rel="noopener"
          class="flex items-center"
					>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl">
				Analista en computación. Graduado de la Universidad Nacional de Río Cuarto. <span class="text-blue-300">Desarrollador.</span>
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/agustin-lopez-prieto/">
					<LinkedIn class="size-4 md:size-6"/>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/aguslopezp">
					<GitHub class="size-4 md:size-6"/>
					GitHub
				</SocialPill>
				<SocialPill href="mailto:agustinlopezprieto@gmail.com">
					<MailIcon class="size-4 md:size-6"/>
					agustinlopezprieto@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="sobre-mi" class="text-2xs lg:text-lg pb-10">
			<h2 class="flex gap-x-2 items-center text-2xl font-semibold mb-6">
				<CodeIcon class="size-6"/>
				Sobre mi
			</h2>
			<p class="text-pretty pb-2">
				Me presento como una persona responsable, empática y comprometida. 
				Con gran capacidad de aprendizaje, superación y colaborativo a la hora de trabajar en equipo.
			</p>

				Me encuentro con gran predisposición para mi próximo desafío laboral, en donde sumar experiencia, práctica y confianza en el desarrollo de la profesión, superándome tanto en el área laboral como personal.
			</p>
		</SectionContainer>

		<SectionContainer id="proyectos" class="">
			<h2 class="flex gap-x-2 items-center text-2xl font-semibold mb-6">
				<Briefcase class="size-6"/>
				Proyectos - Experiencia
			</h2>
			<Experience />
		</SectionContainer>
		<Footer />
	</main>
</Layout>

