<footer class="rounded-lg shadow m-4 bg-black/20 w-full mx-auto">
  <div class="w-full max-w-screen-xl p-4 flex items-center justify-between">
    <span 
      class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://github.com/aguslopezp/" class="hover:underline">Agustin</a>.
    </span>
    <ul class="flex flex-wrap items-center text-sm font-medium text-white/90">
      <li>
          <a href="#sobre-mi" class="hover:underline me-4 md:me-6">Sobre mí</a>
      </li>
      <li>
          <a href="#" class="hover:underline">Contacto</a>
      </li>
    </ul>
  </div>
</footer>
